body {
  background-color: #181818!important;
  color:#bbb!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.modal,.page-footer,.nv_chapter_info,.nv_read,.nv_control {
  background-color: #202020!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.nv_nav {
  background-color: #202020!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.btn {
  background-color:#000!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.modal-content,.selectFont a, .fontSize a, .readMode a, .nv_control a,#nv_nav_read a i {
  color: #bbb!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.selectFont h5, .fontSize h5, .readMode h5 {
  background-color: #000!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
