/* Css for TH-SHARING.COM
/* Created by SubMaRK 2018-02-27
/* Last updated 2018-02-27
*/

/* Global Page */

.black-ribbon {
  position: fixed;
  z-index: 9999;
  width: 70px;
}

.stick-left {
  left: 0;
}

.stick-bottom {
  bottom: 0;
}

.index_warp {
  padding-top: 50px;
}

/* Global Nav */

.margin_ul-nav {
  margin-left: 200px !important
}

#loginbox {
  margin-right: 30px;
}
.btn, .btn-large, .btn-small {
  background-color: #FFF!important;
  color:#000!important;
}
/* Global Footer */

.novel_global_footer {
  background-color: #202020;
  color: #fff;
}

.novel_footer_sitemap {
  padding-top: 15px;
  text-align: center;
  height: auto;
}

.ft_mgr_5 {
  margin-bottom: 5px;
}
.mgr_8 {
  margin-right: 8px;
}

.ft_pdb_15 {
  padding-bottom: 15px:
}

/* Global Viewport */

@media only screen and (min-width: 320px) {
  .novel_global_footer {
    font-size: 0.9em !important;
  }
}

@media only screen and (min-width: 360px) {
}

@media only screen and (min-width: 390px) {
}

@media only screen and (min-width: 420px) {
}

@media only all and (min-width: 768px) {
  .black-ribbon {
    width: auto;
  }
  #global_width {
    width: 90% !important;
  }
}

@media only screen and (min-width: 993px) {
}

@media only screen and (min-width: 1200px) {
  .novel_global_footer {
    font-size: 1em !important;
  }
}

@media only screen and (min-width: 1360px) {
  .novel_global_footer {
    font-size: 1em !important;
  }
}

@media only screen and (min-width: 2560px) {
  .novel_global_footer {
    font-size: 2em !important;
  }
}

/* Tag Cloud */

.nv_tags {
  margin-top: 30px;
}

.nv_tags_item {}

.nv_tags_item a {
  width: 48%;
  display: block;
  height: 36px;
  line-height: 36px;
  float: left;
  color: #fff;
  font-size: 14px;
  margin-bottom: 3px;
  text-align: center;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.nv_tags_item a.tags_color1 {
  background: #FFC001;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tags_item a.tags_color2 {
  background: #73A084;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tags_item a.tags_color3 {
  background: #009FE3;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tags_item a.tags_color4 {
  background: #775B93;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tags_item a.tags_color5 {
  background: #4F71CB;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tags_item a.tags_color6 {
  background: #FF9933;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tags_item a.tags_color7 {
  background: #4F6E7C;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tags_item a.tags_color8 {
  background: #529FBC;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tags_item a.tags_color9 {
  background: #8FAED1;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tags_item a.tags_color10 {
  background: #669999;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tags_item a.tags_color11 {
  background: #8FAED1;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tags_item a.tags_color12 {
  background: #369C46;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tags_item a.tags_color13 {
  background: #565E76;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tags_item a.tags_color14 {
  background: #766456;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tags_item a.tags_color15 {
  background: #FE4703;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tags_item a.tags_color16 {
  background: #4F71CB;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tags_item a:hover.tags_color1 {
  background: #1989da;
}

.nv_tags_item a:hover.tags_color2 {
  background: #546E7A;
}

.nv_tags_item a:hover.tags_color3 {
  background: #369C46;
}

.nv_tags_item a:hover.tags_color4 {
  background: #9C27B0;
}

.nv_tags_item a:hover.tags_color5 {
  background: #CDDC39;
}

.nv_tags_item a:hover.tags_color6 {
  background: #5D4037;
}

.nv_tags_item a:hover.tags_color7 {
  background: #1989da;
}

.nv_tags_item a:hover.tags_color8 {
  background: #1989da;
}

.nv_tags_item a:hover.tags_color9 {
  background: #1989da;
}

.nv_tags_item a:hover.tags_color10 {
  background: #1989da;
}

.nv_tags_item a:hover.tags_color11 {
  background: #1989da;
}

.nv_tags_item a:hover.tags_color12 {
  background: #1989da;
}

.nv_series_list {}

.nv_series_list a {
  display: block;
  height: 36px;
  line-height: 36px;
  float: left;
  color: #fff;
  font-size: 14px;
  margin-bottom: 3px;
  text-align: center;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.nv_series_list a.tags_color1 {
  background: #FFC001;
  width: auto;
  margin-right: 3px;
}

.nv_series_list a.tags_color2 {
  background: #73A084;
  width: auto;
}

.nv_series_list a.tags_color3 {
  background: #009FE3;
  width: auto;
  margin-right: 3px;
}

.nv_series_list a.tags_color4 {
  background: #775B93;
  width: auto;
}

.nv_series_list a.tags_color5 {
  background: #4F71CB;
  width: auto;
  margin-right: 3px;
}

.nv_series_list a.tags_color6 {
  background: #FF9933;
  width: auto;
}

.nv_series_list a.tags_color7 {
  background: #4F6E7C;
  width: auto;
  margin-right: 3px;
}

.nv_series_list a.tags_color8 {
  background: #529FBC;
  width: auto;
}

.nv_series_list a.tags_color9 {
  background: #8FAED1;
  width: auto;
  margin-right: 3px;
}

.nv_series_list a.tags_color10 {
  background: #669999;
  width: auto;
}

.nv_series_list a.tags_color11 {
  background: #8FAED1;
  width: auto;
  margin-right: 3px;
}

.nv_series_list a.tags_color12 {
  background: #369C46;
  width: auto;
}

.nv_series_list a.tags_color13 {
  background: #565E76;
  width: auto;
  margin-right: 3px;
}

.nv_series_list a.tags_color14 {
  background: #766456;
  width: auto;
}

.nv_series_list a.tags_color15 {
  background: #FE4703;
  width: auto;
  margin-right: 3px;
}

.nv_series_list a.tags_color16 {
  background: #4F71CB;
  width: auto;
}
