#nv_info {
  padding-top: 20px;
}

.nv_info_content {}

.nv_info {}

.nv_img {
  width: 90%;
}

img.nv_cover {
  height: 325px;
  box-shadow: 0px 5px 85px 10px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
}

.nv_status {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: 276px;
  top: 375px;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  z-index: 1;
  font-size: 14px;
  border: 1px solid #faa;
  color: #fff;
  display: block;
  margin: 1px 0;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}

.nv_info_detail {
  margin-top: -50px;
}

.nv_info_title {
  font-size: 14px;
  padding-top: 40px;
}

strong.text_detail_title {
  font-size: 2rem;
  font-weight: 700;
}

.text_id {
  font-size: 14px;
}

.text_report {
  font-size: 1rem;
}

.warning_style {
  font-size: 1.3rem !important;
}

.nv_score {
  line-height: unset;
}

.score_lable {}

.nv_tags_name {
  font-size: 14px;
  margin-right: 5px;
  line-height: 25px !important;
  position: relative;
}

.nv_text-normal {
  line-height: 15px;
}

.mgr-5 {
  margin-right: 5px;
}

.button_group {
  line-height: 85px;
}

.button_group .btn {
  color: #000 !important;
  font-size: 1rem;
}

.nv_text_head {
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: underline;
}

.nv_sumary {}

.text_sumary {
  text-indent: 30px;
  font-size: 1.1rem;
  line-height: unset !important;
}

.nv_underline {
  text-decoration: underline;
}

.no_underline {
  text-decoration: none !important;
}

.nv_list {}

.nv_list_chapter {
  display: inline-table;
  width: 49%;
  line-height: 35px;
  font-size: 1.15rem;
}

.nv_content_table {
  width: 100%;
}

.text_vol_head {
  font-size: 1.15rem;
  font-weight: 700;
}

/* SideBar */

#nv_info_sidebar {}

.nv_atr_info {}

.atr_info_general {}

.atr_img {
  width: 100px;
  margin-right: 10px;
  box-shadow: 0px 5px 85px 10px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
}

.atr_detail {
  padding-top: 5px;
}

.atr_name {
  font-weight: 700;
}

.atr_level {}

.sign_status {}

.book_self {}

.atr_info_notice {}

.atr_fb_page {}

.rec_novel {}

.rec_list {}

  .nv_rec_cover {
    width: 90px;
    height: 120px;
    margin-right: 5px;
  }
  .nv_rec_title {
    font-size: 1rem;
    font-weight: 700;
  }
  .nv_rec_sumary {
    font-size: .8rem;
    color: #666;
    margin: unset!important;
  }
/* MORE */

.nv_tags_item a {
  height: 32px !important;
  line-height: 32px !important;
}

.word_break {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.no_space {white-space: unset!important;}

/* Replace */

.collapsible-body {
  padding: 1.5rem !important;
}
