/***************************
/** FILE NAME : global.css
/** Created by SubMaRk
/** Date Created : 24/12/2561
/***************************

/* GLOBAL */
html, body, div, p, h5, h4, h3, h2, h1, a, span, pre, blockquote, form, fieldset, ul, ol, dl, li, dd {
  font-family: 'fc_lamoon';
}
#nv_global_w {width:90%!important}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: #555;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/* NAV */
nav .brand-logo {
  margin-left: 30px;
}
.brand-logo span {
  font-weight: 700 !important;
  font-size: 1.4rem;
}
nav a, nav ul a {
  color: #000 !important;
}
nav ul a {
  font-size: 1.4rem;
  line-height: 50px;
}
.dropdown-content li>a, .dropdown-content li>span {
  padding:unset!important;
  line-height: 45px!important;
  padding-left: 14px!important;
  font-size: 1.4rem!important;
}
.dropdown-content {
  min-width: 150px!important;
  top: unset !important;
}
.dropdown-content li {
  min-height: 45px!important;
}
#nv_drop_login, #nv_drop_logout {
  min-width: 240px!important;
  left: 80%!important;
}
p.agreement {
  line-height: normal !important;
}
.indent {
  text-indent: 30px;
}
.modal {
  overflow-y: unset !important;
}
.modal .modal-footer {
  padding: 0px 10px !important;
  height: unset !important;
}
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 45px!important;
  line-height: 45px!important;
}
.nv_nav_main {
  margin-left: 165px;
}
#nv_pc_login, #nv_pc_logout {
  height: -webkit-fill-available;
  margin-right: 30px;
}
#user_icon {
  height: 40px;
  margin-top: 3px;
}
.user-view {
  height: 90px;
}
#user {
  float: left;
}
.brand-logo span {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif!important;
}
/* Modal */
.modal-content h5 {
  font-size: 2rem;
}
.modal-content p {
  font-size: 1.4rem;
}
.modal-footer a {
  font-size: 1.4rem;
}

/* SLIDER */
.slider .slides {
  background-color: #fff;
}
.slider .indicators .indicator-item {
  background-color: #fff;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 0 5px;
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}
.slider {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
}
.slides ul {
  height: 400px;
}
#nv_slide_info {
  background: #202020;
  height: 385px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}
.slider-content {
  margin: 20px;
  color: #dddfe2;
}
.nv_text_sub {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  line-height: 10px;
}
.slider-content h3 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 30px;
}
.nv_text_sum {
  font-size: 1.6rem;
  font-weight: 700;
  text-indent: 30px;
}
.nv_text_normal {
  font-size: 1.4rem;
  line-height: 22px;
  font-weight: 700;
}
.slider-content a,.slider-content i {
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 40px;
}
#nv_slide_pic {
  background: #fff;
  height: 385px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}
.slider_img {
  width: 90%;
  height: 95%;
  margin: auto;
  margin-top: 10px;
}
/* LOGIN */


/* MAIN CONTENT */
.nv_text_block {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.nv_text_f {
  height: 45px;
  width: 75%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.nv_text_f h5 {
  margin-left: 15px;
  line-height: 55px;
  font-size: 1.8rem;
}
.nv_text_block h5 {
  margin-left: 15px;
  line-height: 55px;
  font-size: 1.8rem;
}

/* TILE */
.tile {
  max-width: 260px;
  max-height: 350px;
  width: 40vw;
  height: 52vw;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
}

.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}

.tile .text {
  /* z-index:99; */
  position: absolute;
  padding: 20px;
  height: calc(100% - 60px);
  text-align: center;
}

.tile h4 {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h5 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 20px 0 0 0;
  font-style: italic;
  transform: translateX(200px);
}

.tile p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 25px;
  /* opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.btn-read {
  line-height: 50px;
}
.btn-read a {
  color: black;
  font-size: 1.4rem;
}

.animate-text {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.tile:hover {
  /* background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}

.tile:hover img {
  opacity: 0.2;
}

.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}

.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}

/* TABLE OF LAST UPDATE */
.nv_table table {
  width: 135%;
}
.nv_table td {
  font-size: 1.4rem;
}
/* TAB SWITCH */
.tabs .tab a, .tabs .tab a:hover, .tabs .tab a.active {
  font-size:1.4rem!important;
}
/* Icons Color */

.fal.fa-fire-alt.fas-red {
  color: rgb(216, 0, 39);
}

.fal.fa-fire-alt.fas-pink,.far .fa-heart .fas-pink,.fas .fa-heart .fas-pink {
  color: rgb(235, 100, 220);
}

.fal.fa-fire-alt.fas-orange {
  color: rgb(235, 130, 40);
}

.fal.fa-fire-alt.fas-yellow,.fas.fa-exclamation-triangle.fas-yellow {
  color: rgb(255, 218, 68);
}

.fal.fa-fire-alt.fas-green {
  color: rgb(145, 220, 90);
}

.fal.fa-fire-alt.fas-dark {
  color: #fff;
}

.nv_order_color {
  color: #fff;
  background-color: #ff9a6a;
}
 .nv_order_gray {
    color: #9a9a9a;
    background-color: #353334;
  }
  .nv_order_color, .nv_order_gray {
    float: left;
    width: 20px;
    height: 20px;
    line-height: 23px;
    margin: 2px 10px 0 0;
    text-align: center;
    border-radius: 2px;
    font-size: 1.4rem;
  }
  .nv_ranking_n {
    color: #606060;
    font-size: 1.4rem;
  }
  #nv_daily_ranking li, #nv_weekly_ranking li, #nv_monthly_ranking li, {
    width: auto;
    margin-bottom: 8px;
    overflow: hidden;
    zoom: 1;
  }

/* TAG */
.nv_tag_item {
  display: inline-block;
}

.nv_tag_item a {
  width: 48%;
  display: block;
  height: 36px;
  line-height: 40px;
  float: left;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 3px;
  text-align: center;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.nv_tag_item a.nv_tag_color_0 {
  background: #9C27B0;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}
.nv_tag_item a.nv_tag_color_1 {
  background: #FFC001;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tag_item a.nv_tag_color_2 {
  background: #73A084;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tag_item a.nv_tag_color_3 {
  background: #009FE3;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tag_item a.nv_tag_color_4 {
  background: #775B93;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tag_item a.nv_tag_color_5 {
  background: #4F71CB;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tag_item a.nv_tag_color_6 {
  background: #FF9933;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tag_item a.nv_tag_color_7 {
  background: #4F6E7C;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tag_item a.nv_tag_color_8 {
  background: #529FBC;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tag_item a.nv_tag_color_9 {
  background: #8FAED1;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tag_item a.nv_tag_color_10 {
  background: #669999;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tag_item a.nv_tag_color_11 {
  background: #8FAED1;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tag_item a.nv_tag_color_12 {
  background: #369C46;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tag_item a.nv_tag_color_13 {
  background: #565E76;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tag_item a.nv_tag_color_14 {
  background: #766456;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tag_item a.nv_tag_color_15 {
  background: #FE4703;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}

.nv_tag_item a.nv_tag_color_16 {
  background: #4F71CB;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px
}

.nv_tag_item a:hover.nv_tag_color_1 {
  background: #1989da;
}

.nv_tag_item a:hover.nv_tag_color_2 {
  background: #546E7A;
}

.nv_tag_item a:hover.nv_tag_color_3 {
  background: #369C46;
}

.nv_tag_item a:hover.nv_tag_color_4 {
  background: #9C27B0;
}

.nv_tag_item a:hover.nv_tag_color_5 {
  background: #CDDC39;
}

.nv_tag_item a:hover.nv_tag_color_6 {
  background: #5D4037;
}

.nv_tag_item a:hover.nv_tag_color_7 {
  background: #FE4703;
}

.nv_tag_item a:hover.nv_tag_color_8 {
  background: #766456;
}

.nv_tag_item a:hover.nv_tag_color_9 {
  background: #565E76;
}

.nv_tag_item a:hover.nv_tag_color_10 {
  background: #369C46;
}

.nv_tag_item a:hover.nv_tag_color_11 {
  background: #1989da;
}

.nv_tag_item a:hover.nv_tag_color_12 {
  background: #1989da;
}

/* Novel Info */
#nv_info_img {
  max-width: 275px;
  max-height: 325px;
}
#nv_info_img img {
  width: 100%;
  height: 100%;
}
.nv_info_status {
  font-size: 1rem;
  top: -38px;
  line-height: 20px;
  word-break: break-all;
  text-overflow: ellipsis;
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  z-index: 1;
  color: #fff;
  display: block;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}
#nv_info_detail {
  margin-left: 5px;
  float: left;
}
.nv_info_title {
  width: 100%;
  margin: auto;
  left: auto;
  right: auto;
  float: left;
}
.nv_info_title p {
  line-height: 0px;
}
.nv_info_title p strong {
  font-size: 2.3rem;
}
.nv_info_title p span {
  font-size: 1.4rem;
}
.nv_info_score p {
  font-size: 1.4rem;
  float: left;
  line-height: 0px!important;
}
.nv_info_score #wmcms-star {
  cursor: pointer;
  float:left;
}
.nv_info_score #wmcms-star img {
    cursor: pointer;
    float:left;
    margin: 15px 0px 10px 5px!important;
    display:inline;
}
#nv_info_detail p {
  font-size: 1.4rem;
  line-height: 0px;
  float: left;
}

#nv_info_tag p {
  margin-right: 10px;
}
#nv_tag_info_type {
  width: auto!important;
}
.visited {
  background-color: black!important;
  color: white!important;
}
.first_tag {
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 3px;
}
#nv_tag_info {
  width: auto!important;
}
.nv_info_btn {
  margin-top: 10px;
  margin-bottom: 10px;

}
.nv_info_btn a {
  color: black;
  font-size: 1.4rem;
}
#nv_sumary {
  display: inline-block;
}
#nv_sumary h5 {
  margin-top: auto;
}
.nv_sumary p {
  text-indent: 30px;
  font-size: 1.6rem;
}
.collapsible-header span {
  font-size: 1.6rem;
}
.nv_list_chapter {
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: inline-table;
  width: 49%;
  line-height: 35px;
}
#word_break {
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nv_info_rec img {

}
.nv_book_list {

}
.nv_book_list_cover {
  text-align: center;
}
.nv_book_list_cover img {
  width: 100%;
  margin-top: 15px;
}
.nv_name_i {float: left;width: 100%;font-size: 1.4rem;}
.nv_author_i {float: left;width: 50%;font-size: 1.2rem;}
.nv_tag_i {width: 50%;font-size: 1.2rem;}
.nv_rate_score {
  font-size: 1.4rem;
  float: left;
}
#nv_star {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

/* SIDEBAR INFO */
.nv_author_info img {
  width: 35%;
  float:left;
}
.nv_author_detail {
  font-size: 1.4rem;
  line-height: normal;
  float: unset!important;
}
.nv_author_notice {

}
.nv_author_notice h5 {
  text-decoration: underline;
}
.nv_author_notice p {
  font-size: 1.4rem;
  text-indent: 10px;
}
.nv_author_detail dt {
  margin-left: 10px;
}
.nv_author_detail dd {
  margin-left: 10px;
  margin-inline-start: unset!important;
}
.nv_info_rec {
  height: 15vw;
}

/* FRIND LINK */
.nv_link {
  margin-top: 20px;
}
/* FOOTER */
.page-footer h5 {
  font-size: 2.3rem;
}
.page-footer p {
  font-size: 1.4rem;
}
.page-footer ul li a {
  font-size: 1.4rem;
}
.footer-copyright span {
  font-size: 1.2rem;
}
#nv_logo img {
  width:35%;
}
/* READ PAGE */
#nv_nav_read nav a {
  margin: 4px;
}
#nv_nav_read nav a i {
  line-height: unset;
}
#nv_read_w {
  width:60%;
}
.nv_ct {
  width: 60%;
  margin-left: 15.5%!important;
  font-size: 1.4rem;
}
.nv_chapter_info {
  padding: 5px;
}
.nv_chapter_info h3 {
  font-size: 2.4rem;
  font-weight: 700;
}
.nv_chapter_info p {
  font-size: 1.8rem;
  margin: auto;
}
.content {
  font-family: Arial;
  font-weight: normal;
  font-size: 1.4rem;
  margin:15px 20px;
  padding: 25px 15px 25px 15px;
  white-space: pre-wrap;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nv_control {
  line-height: 50px;
}
.nv_control a {
  font-size: 1.4rem;
}
#modal-chapter-list {
  top: unset!important;
  height: 100%!important;
}
#nv_chapter_list {
  font-size: 1.4rem;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow-y: auto!important;
  max-height: 100%;
}
#modal-chapter-list a {
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.modal-header {
  text-align: center;
}
#modal-chapter-list .modal-content {
  overflow-y: unset!important;
}
.collection a.collection-item
@media print {
  html {
    display: hide;
  }
}
/* READ SETTINGS */
.selectFont,.fontSize,.readMode {
  line-height: 3;
}
.selectFont h5,.fontSize h5,.readMode h5 {
  width:40%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.selectFont a,.fontSize a,.readMode a,.nv_control a {
  font-size: 1.4rem;
  margin-right: 5px;
  color: black;
}
.nv_control a {
  font-weight: bold;
}
#modal-settings h5 {
  text-decoration: underline;
}
.selectFont h5 i,.fontSize h5 i,.readMode h5 i,.nv_control h5 i {
  font-size: 1.4rem;
}
#nav .modal .modal-content {
  padding: 10px;
}
/* MENU PAGE */
.nv_menu_info img {
  width: 100%;
  margin-top: 10px;
}
.nv_menu_info p {
  font-size: 1.4rem;
  margin: auto;
}
#nv_menu {
  margin-left: 10px;
  margin-right: 10px;
}

/* CATEGORY PAGE */
.nv_book_cover {
  margin-top: 20px;
}
.nv_book_cover img {
  width: 100%;
}
.nv_book_cover span {
  font-size: 1rem;
  top: -38px;
  line-height: 20px;
  word-break: break-all;
  text-overflow: ellipsis;
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  z-index: 1;
  color: #fff;
  display: block;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}
.nv_book_info p {
  font-size: 1.4rem;
  line-height: 5px;
}
.nv_book_info h5 a {
  font-size: 1.8rem;
}
#nv_type_des {
  line-height: 20px!important;
}
.nv_book_info a {
  color: black;
  font-size: 1.4rem;
}
.nv_pagination {
  margin-top: 10px;
}
.pagination li {
  background-color: white!important;
}
.pagination li a {
  font-size: 1.43rem;
}
.nv_books {
  height: 20vw;
}

/* RANKING PAGE */
.nv_top_w {
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
}
.nv_top_n {
  width:40%;
}
.nv_name_1 {
  width: 25%;
}
.nv_name {
  width: 58%;
}
.nv_author_1 {
  width: 25%;
}
.nv_name,.nv_author_1,.nv_view_count,#nv_daily_ranking,#nv_weekly_ranking,#nv_monthly_ranking,#nv_category_ranking {
  font-size: 1.4rem;
}
