/* Css for TH-SHARING.COM
/* Created by SubMaRK 2018-03-22
/* Last updated 2018-03-22
*/
@media only screen and (max-width: 320px) {

  .nv_ct {
    width: 60%;
    margin-left: 1%!important;
  }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 568px) {

}
@media only screen and (max-width: 568px) {
  .content {
    margin: 10px 10px;
    padding: 15px 5px 15px 5px;
  }

  #nv_footer {
    margin: auto;
    text-align: center;
    width: 90%;
  }
  .nv_tag_item a {
    width: 100%;
  }

  .modal {
    width: 90%;
    overflow-y: auto;
  }
  .nv_text_block {
    text-align: center;
  }
  #slider {
    display: none !important;
  }
  .nv_new, .nv_rec, .nv_lastup, .nv_fb_content, .nv_ranking, .nv_tag_item {
    text-align: center !important;
  }
  #nv_read_w, #nv_global_w {
    width: 100%;
  }
  nav .brand-logo {
    margin-left: unset;
    left: 48%;
  }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (max-width: 768px) {
  nav .brand-logo {
    margin-left: unset;
  }

  #nv_read_w {
    width: 90%;
  }
  .modal {
    overflow-y: auto !important;
  }
}

@media only screen and (min-width: 993px) {
}

@media (min-width: 321px) and (max-width: 480px) {
  #nv_reg_w {
    width: 80%;
  }

  #up-btn img {
    pading: 10px 5px !important;
  }

  .scroll-top-button {
    pading: 10px 5px !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #nv_reg_w {
    width: 40%;
  }

  .slider {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 993px) {
  .sidenav {
    width: 250px !important;
  }

  .sidenav li {
    line-height: 40px !important;
  }

  .sidenav li>a {
    height: 40px !important;
    line-height: 45px !important;
    font-size: 1.4rem;
  }

  .sidenav .subheader {
    font-size: 1.4rem;
    line-height: 50px;
  }

  .sidenav .collapsible-body {
    margin-left: 10px;
  }

  .sidenav .collapsible-header, .sidenav.fixed .collapsible-header {
    padding: 0px 0px 0px 32px !important;
  }

  .sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
    line-height: 40px !important;
    height: 40px !important;
  }
}

@media (min-width: 994px) and (max-width: 1280px) {}

@media (min-width: 1281px) and (max-width: 1366px) {
  #nv_reg_w {
    width: 30%;
  }
  #nv_read_w {
    width: 60%;
  }
  .nv_ct {
    margin-left: 15.5%!important;
  }
}

@media (min-width: 1367px) and (max-width: 1440px) {}

@media (min-width: 1441px) and (max-width: 1600px) {}

@media (min-width: 1601px) and (max-width: 1920px) {}

@media (min-width: 1921px) and (max-width: 2560px) {}

@media (min-width: 2561px) and (max-width: 3840px) {}

@media only screen and (min-width: 3840px) {}
