/* Css for TH-SHARING.COM
/Created by SubMaRK 2017-11-04
*/

/* All Page */
@media only screen and (min-width: 2560px){
}
nav {top:0;position:fixed;z-index:9999;}
.margin_ul-nav {margin-left:200px!important}
nav a, nav ul a {color:#000!important;}
nav a:hover, nav ul a:hover {color:#999!important;}
.slider__navi a.active {background:#000!important;}
.page-footer{background-color:#202020;}
.footer-sitemap {padding-top:15px;text-align:center;height:auto;}
.margin-bf {margin-bottom:5px;}
.margin-bfl {padding-bottom:15px:}
#loginbox {margin-right:30px;}
.ribbon {
background-color: #a00;
overflow: hidden;
white-space: nowrap;
position: absolute;
right: -25px;
top: 35px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-box-shadow: 0 0 10px #888;
-moz-box-shadow: 0 0 10px #888;
box-shadow: 0 0 10px #888;
z-index: 3;
}
.ribbon a {font-size: 1.3rem;border: 1px solid #faa;color: #fff;display: block;margin: 1px 0;padding: 10px 50px;text-align: center;text-decoration: none;text-shadow: 0 0 5px #444;
}

/* Index Page */
@media only screen and (min-width: 320px){
.side-nav {width:200px;}
.side-nav .subheader {font-size:1.4em!important;font-weight:700!important;line-height:60px!important;}
#slide {display:none!important;}
#novel-release {width:100%!important;}
#novel_updates {width:100%!important;}
#name {display:none!important;}
#translator {display:none!important;}
.wrap {width:100%!important;}
.text_new {margin-right:15px!important;margin-left: 110px!important;}
.text_upnew {float:left!important;margin-right:15px!important;margin-left: 85px!important;}
.novel_new {text-align:center;}
.img_new {padding-top: 11px!important;}
.novel_type {display:none!important;}
.tile {width:170px!important;height: 215px!important;text-align:center!important;}
.tile .text {text-align: left;padding:15px!important;}
.tile h4 {font-size:0.9em!important;}
.tile h5 {font-size:0.6em!important;margin: 10px 0 0 0!important;}
.tile p {font-size:0.85em!important;line-height:15px!important;}
.btn-read {left: 18%!important;margin-top: 5px!important;padding:unset!important;}
.btn, .btn i {font-size:0.75em!important;}
.btn {height:30px!important;line-height:30px!important;}
#tabs_width {width:100%!important;}
.tabs .tab a {font-size: 0.9em!important;}
.text_logo {font-weight: 700!important;font-size:1.4rem;}
.fa-2x {font-size:1.75em!important;}
nav {height:45px!important;line-height:45px!important;color:#000!important;background-color:#fff!important;}
nav .button-collapse {height:45px!important;margin:-5px 15px!important;}
table {font-size: 0.9em!important;}
.page-footer {font-size:0.9em!important;}
nav .brand-logo {margin-left:15px!important;color: rgb(33, 190, 241);}
nav .button-collapse i {height:45px!important;line-height:55px!important;color:#000!important;}.
.order_number_color, .order_number_gray {width:14px!important;height:16px!important;line-height:15px!important;font-size:0.9em!important;}
.rank_name {font-size:0.9em!important;padding-right:5px!important;}
}
@media only screen and (min-width: 360px){
.side-nav {width:215px;}
.text_new {margin-left: 125px!important;}
.text_upnew {margin-left: 110px!important;}
}
@media only screen and (min-width: 390px){
.side-nav {width:230px;}
.text_new {margin-left: 145px!important;}
.text_upnew {margin-left: 120px!important;}
.tile {width:200px!important;height:250px!important;}
.tile .text {padding:20px!important;}
.tile h4, .tabs .tab a, .rank_name, table, .page-footer {font-size:1em!important;}
.tile h5 {font-size:0.85em!important}
.tile p {font-size:0.95em!important;line-height:18px!important;}
.btn-read {left:20%!important;}
.btn, .btn i {height:33px!important;line-height:33px!important;font-size:0.95em!important;}
}
@media only screen and (min-width: 420px){
.side-nav {width:265px;}
.text_new {margin-left: 155px!important;}
.btn-read {left:20%!important;}
.tile p {font-size:1em!important;line-height:19px!important;}
.tile h4 {font-size:1.15em!important;}
.tile h5 {font-size:0.9em!important}
.tile {width:215px!important;}
.tile .text {padding:20px!important}
.text_upnew {margin-left:130px!important;}
}
@media only screen and (min-width: 480px){
#name {display:none!important;}
#translator {display:none!important;}
#novel-release {width:100%!important;}
}
@media only screen and (min-width: 640px){
#slide {display:block!important;}
#novel-release {width:100%!important;}
#novel_updates {width:100%!important;}
#name {display:inline-table!important;}
#translator {display:table-cell!important;}
}
@media only screen and (min-width: 768px){
}
@media only screen and (min-width: 993px){
#novel-release {width:98%!important;}
#novel_updates {width:98%!important;}
#name {display:inline-table!important;}
#translator {display:table-cell!important;}
nav .brand-logo {margin-left:15px!important;}
.slider__warpper {padding-top:75px!important;}
}
@media only screen and (min-width: 1200px){
#slide {display:block!important;}
#novel-release {width:90%!important;}
#novel_updates {width:90%!important;}
#name {display:inline-table!important;}
#translator {display:table-cell!important;}
.slider__warpper {padding-top:90px!important;}
.slider__navi {padding-top:450px!important;}
.flex__item {height:425px!important;}
.text--big {font-size: 2em!important;}
.tile {width: 260px!important;height: 350px!important;margin: 10px!important;left:unset!important;text-align:unset!important;}
nav .brand-logo {margin-left:30px!important;}
table {font-size: 1em!important;}
.page-footer {font-size:1em!important;}
.novel_type {display:block!important;}
.text_new {margin-right:15px!important;margin-left: unset!important;}
.text_upnew {margin-right:15px!important;margin-left: unset!important;}
#tabs_width {width:25%!important;}
.tabs .tab a {font-size: 1em!important;}
nav {height:56px!important;line-height:56px!important;color:#000!important;background-color:#fff!important;}
.tile h4 {font-size:1.2em!important;}
.tile h5 {font-size:1em!important;margin: 20px 0 0 0!important;}
.tile p {font-size:1em!important;line-height:20px!important;}
.btn-read {left: 24%!important;margin-top:15px!important;padding:unset!important;}
.btn, .btn i {font-size:1em!important;}
.btn {height:36px!important;line-height:36px!important;}
.wrap {width:auto!important;}
.img_new {padding-top:unset!important;}
}
@media only screen and (min-width: 1360px){
#slide {display:block!important;}
#novel-release {width:90%!important;}
#novel_updates {width:90%!important;}
#name {display:inline-table!important;}
#translator {display:table-cell!important;}
.slider__warpper {padding-top:90px!important;}
.slider__navi {padding-top:450px!important;}
.flex__item {height:425px!important;}
.text--big {font-size: 2em!important;}
.tile {width: 260px!important;height: 350px!important;margin: 10px!important;left:unset!important;text-align:unset!important;}
nav .brand-logo {margin-left:30px!important;}
table {font-size: 1em!important;}
.page-footer {font-size:1em!important;}
.novel_type {display:block!important;}
.text_new {margin-right:15px!important;margin-left: unset!important;}
.text_upnew {margin-right:15px!important;margin-left: unset!important;}
#tabs_width {width:25%!important;}
.tabs .tab a {font-size: 1em!important;}
nav {height:56px!important;line-height:56px!important;color:#000!important;background-color:#fff!important;}
.tile h4 {font-size:1.2em!important;}
.tile h5 {font-size:1em!important;margin: 20px 0 0 0!important;}
.tile p {font-size:1em!important;line-height:20px!important;}
.btn-read {left: 24%!important;margin-top:15px!important;padding:unset!important;}
.btn, .btn i {font-size:1em!important;}
.btn {height:36px!important;line-height:36px!important;}
.wrap {width:auto!important;}
.img_new {padding-top:unset!important;}
}
@media only screen and (min-width: 1440px){
}
@media only screen and (min-width: 2560px){
#novel-release {700px!important;}
.slider__warpper {padding-top: 50px!important;}
.flex__item {height: 70vh!important;}
.flex__content {margin-left: 80px!important;}
.text--sub {font-weight: 700!important;letter-spacing: 0.1em!important;font-size: 1.6em!important;}
.text--big {font-weight: 700!important;line-height: 65px!important;}
.text--big h3 {font-size: 2.92em!important;margin: 1.46rem 0 1.168rem 0!important;}
.text--normal {font-size: 2em!important;line-height: 2.5rem!important;font-weight: 700!important;}
.btn {font-size: 1.8em!important;letter-spacing: 0.5px!important;}
.btn i {font-size:2rem!important;}
.ribbon a {font-size: 2.8em!important;}
.novel__img {bottom: 70px!important;right: 8%!important;height: 22vw!important;width: unset!important;}
.slider__navi {top: 450px!important;right: 11%!important;}
.novel-release {padding-top: 700px!important;}
.text_new {margin-right:unset!important;}
.text_upnew {margin-right:unset!important;margin-left: unset!important;}
.text_new h5 {font-size: 4rem;font-weight: 900!important;}
.novel_new {margin-top: 2vh!important;}
.tile {width: 15vw!important;height: 50vh!important;margin: 20px!important;}
.tile h4 {font-size: 2em!important;font-weight: 300!important;}
.tile h5 {font-size: 1.5em!important;font-weight: 600!important;margin: 20px 0 0 0!important;}
.tile p {font-weight: 300!important;margin-bottom: 5px!important;line-height: 35px!important;font-size: 1.5em!important;}
.btn-read {padding: 25px 0px 0px 75px!important;}
.tabs .tab a {font-size: 2em!important;}
.order_number_color, .order_number_gray {width: 30px!important;height: 35px!important;line-height: 30px!important;margin: 2px 20px 0 0!important;font-size: 1.6em!important;}
.rank_name {font-size: 1.8em!important;}
.text_new h5 {font-size: 4rem;font-weight: 900!important;}
table {font-size: 2em!important;}
.page-footer {font-size:2em!important;}
}
.text--big {font-size: 2em!important;}
#new-release {padding-top: 400px;}
.btn-read {
position: absolute;
padding: 25px 0px 0px 45px;
}
.rank_list ul {
list-style: none;
}
.rank_list li {
width: auto;
margin-bottom: 8px;
overflow: hidden;
zoom: 1;
}
.order_number_color {
color: #fff;
background-color: #ff9a6a;
border: 1px solid #393939'
}
.order_number_gray {
color: #9a9a9a;
background-color: #353334;
border: 1px solid #454545;
}
.order_number_color, .order_number_gray {
float: left;
width: 18px;
height: 20px;
line-height: 18px;
margin: 2px 10px 0 0;
text-align: center;
border-radius: 2px;
font-size: 12px;
}
.rank_name {
float: left;
color: #606060;
overflow: hidden;
}
.rank_hit_first, .rank_hit_second, .rank_hit_third, .rank_hit {
float: right;
width: 10px;
height: 12px;
margin-top: 6px;
background-repeat: no-repeat;
}
.text_new {float:left;margin-right:15px;}
.text_upnew float:left;margin-right:15px}
.img_new {padding-top:5px;}
.novel_new {float:left;}
table a {color:#1979bf!important;}
table a:hover {color:#41afff!important;}
table a:visited {color:#003861!important;}


/* Menu Page */
#content-table {padding-top:30px;}
#button-table {padding: 15px 15px 0px 15px;}
#volume-name {font-size:1.5rem;padding:15px 0px 15px 15px;font-weight:bold;display:block;}
#chapter-table {padding: 0px 15px 0px 15px;display: block;}
.chapter-list {padding-top:8px;font-size:1.25rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.box-shadow {display: block;height: 40px;font-size: 1.1rem;border-top-color: rgba(255,255,255,.12);box-shadow: 0px 0px 1px 0px #000;padding-top: 10px;}
.table-text {font-size:1.6rem;font-weight:bold;height:25px;}
.pace .pace-progress{background:#fa9144;}.pace .pace-activity{border-top-color:#fa9144;border-left-color:#fa9144;}
@media only screen and (max-width: 600px) {#button-table{text-align:center;}#volume-name{text-align:center;}}
.chapter-list a {color:#1979bf!important;}
.chapter-list a:hover {color:#41afff!important;}
.chapter-list a:visited {color:#003861!important;}

/* More Css -->
/* Dual Section Hero Slider
/Designed by Pham Kun.
*/
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.slider__navi {
position: absolute;
right: 11%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
z-index: 999;
}

.slider__navi a {
display: block;
height: 6px;
width: 20px;
margin: 20px 0;
text-indent: -9999px;
box-shadow: none;
border: none;
background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
background: rgba(255,255,255,1);
}

.slider__warpper {
padding-top: 15px;
}

body {
position: relative;
font-size: 100%;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
min-height: 100vh;
}

.flex__container {
position: absolute;
display: flex;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
-webkit-flex-flow: row wrap;
-moz-flex-flow: row wrap;
-ms-flex-flow: row wrap;
-o-flex-flow: row wrap;
flex-flow: row wrap; 
-webkit-justify-content: flex-start;
-moz-justify-content: flex-start;
-ms-justify-content: flex-start;
-o-justify-content: flex-start;
justify-content: flex-start;
width: 80%;
z-index: 1;
box-shadow: 0px 15px 100px -25px rgba(0,0,0,0.14);
border-radius: 3px!important;
transition: .1s ease-out;
}

.flex__container.flex--active {
z-index: 2;
}

.text--sub {
font-size: 18px;
letter-spacing: 0.1rem;
text-transform: uppercase;
font-weight: 700;
text-decoration: underline;
}

.text--big {
font-family: 'Poppins', sans-serif;
font-weight: 700;
line-height: 65px;
}

.text--normal {
font-size: 16px;
color: rgba(255, 255, 255, 0.8);
line-height: 22px;
font-weight: 700;
}

.text__background {
font-family: 'Poppins', sans-serif;
position: absolute;
left: 72px;
bottom: 155px;
color: rgba(0,0,0,0.05);
font-size: 4rem;
font-weight: 700;
}

.flex__item {
height: 65vh;
color: #fff;
transition: transform 0.1s linear;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

.flex__item--left {
display: flex;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
align-items: center;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
width: 65%;
transform-origin: left bottom;
opacity: 0;
position: relative;
overflow: hidden;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

.flex__item--right {
width: 35%;
transform-origin: right center;
opacity: 0;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
opacity: 1;
}

/* Piplup */

.flex--1 .flex__item--left {
background: #333;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

.flex--1 .flex__item--right {
background: #fff;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

/* Pikachu */

.flex--2 .flex__item--left {
background: #333;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

.flex--2 .flex__item--right {
background: #fff;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

/* Blaziken */

.flex--3 .flex__item--left {
background: #333;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

.flex--3 .flex__item--right {
background: #fff;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

/* Dialga */

.flex--4 .flex__item--left {
background: #333;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

.flex--4 .flex__item--right {
background: #fff;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

/* Zekrom */

.flex--5 .flex__item--left {
background: #333;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

.flex--5 .flex__item--right {
background: #fff;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}

.flex__content {
margin-left: 50px;
width: 85%;
opacity: 1;
transform: translate3d(0,0,0);
/*transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;*/
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
}
.novel__img {
position: absolute;
bottom: 35px;
right: 5%;
height: auto;
width: 25%;
opacity: 1;
border: 1px solid rgba(0,0,0,.7)!important;
border-top-color: rgba(255,255,255,.12)!important;
border-radius: 3px!important;
box-shadow: 0px 0px 4px 0px #000!important;
-webkit-transition: all 1s ease-out 1s;
-moz-transition: all 1s ease-out 1s;
-ms-transition: all 1s ease-out 1s;
-o-transition: all 1s ease-out 1s;
transition: all 1s ease-out 1s;
opacity: 1;
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
transform: translate3d(0,-200%,0);
opacity: 0;
}

.flex__container.animate--start .novel__img {
transform: translate3d(-200px,0,0);
opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
transform: translate3d(0,200%,0);
opacity: 0;
}

.flex__container.animate--end .novel__img {
transform: translate3d(200px,0,0);
opacity: 0;
}

/*Article Tiles
/A Pen by Max Kurapov on CodePen.
*/
.wrap{
margin:50px auto 0 auto;
width:100%;
align-items:space-around;
}
.tile{
width:260px;
height:350px;
margin:10px;
background-color:rgba(0, 0, 0, 0.85);
display:inline-block;
background-size:cover;
position:relative;
cursor:pointer;
transition: all 0.4s ease-out;
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
overflow:hidden;
color:white;
}
.tile img{
height:100%;
width:100%;
position:absolute;
top:0;
left:0;
z-index:0;
transition: all 0.4s ease-out;
}
.tile .text{
/* z-index:99; */
position:absolute;
padding:20px;
height:calc(100% - 60px);
}
.tile h4{
font-size: 1.2rem;
font-weight:300;
margin:0;
text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h5{
font-size: 1rem;
font-weight:600;
margin:20px 0 0 0;
font-style:italic;
 transform: translateX(200px);
}
.tile p{
font-weight:300;
margin-bottom:5px;
line-height: 20px;
/* opacity:0; */
transform: translateX(-200px);
transition-delay: 0.2s;
}
.animate-text{
opacity:0;
transition: all 0.3s ease-in-out;
}
.tile:hover{
/* background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
transform:scale(1.05);
}
.tile:hover img{
opacity: 0.2;
}
.tile:hover .animate-text{
transform:translateX(0);
opacity:1;
}

.tile:hover span{
opacity:1;
transform:translateY(0px);
}

@media (max-width: 1000px) {
.wrap {
 flex-direction: column;
width:400px;
}
}