/* Css for TH-SHARING.COM
/* Created by SubMaRK 2018-02-27
/* Last updated 2018-02-27
*/

/* Main Index */

#index_table_width {
  width: 135%;
}

/* Icons Color */

.material-icons.md-red {
  color: rgb(216, 0, 39);
}

.material-icons.md-pink {
  color: rgb(235, 100, 220);
}

.material-icons.md-orange {
  color: rgb(235, 130, 40);
}

.material-icons.md-yellow {
  color: rgb(255, 218, 68);
}

.material-icons.md-green {
  color: rgb(145, 220, 90);
}

.material-icons.md-dark {
  color: #fff;
}

.novel_order_color {
  color: #fff;
  background-color: #ff9a6a;
}
 .novel_order_gray {
    color: #9a9a9a;
    background-color: #353334;
  }
  .novel_order_color, .novel_order_gray {
    float: left;
    width: 18px;
    height: 20px;
    line-height: 18px;
    margin: 2px 10px 0 0;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
  }
  .novel_ranking_name {color: #606060;}
  .novel_daily_ranking li {
    width: auto;
    margin-bottom: 8px;
    overflow: hidden;
    zoom: 1;
  }
  @media only screen and (min-width: 320px) {
    #slide {
      display: none !important;
    }
    #novel-release {
      width: 100% !important;
    }
    #novel_updates {
      width: 100% !important;
    }
    #name {
      display: none !important;
    }
    #translator {
      display: none !important;
    }
    .text_new {
      margin-right: 15px !important;
      margin-left: 110px !important;
    }
    .text_upnew {
      float: left !important;
      margin-right: 15px !important;
      margin-left: 85px !important;
    }
    .novel_new {
      text-align: center;
    }
    .img_new {
      padding-top: 11px !important;
    }
    .novel_type {
      display: none !important;
    }
    .tile {
      width: 170px !important;
      height: 215px !important;
      text-align: center !important;
    }
    .tile .text {
      text-align: left;
      padding: 15px !important;
    }
    .tile h4 {
      font-size: 0.9em !important;
    }
    .tile h5 {
      font-size: 0.6em !important;
      margin: 10px 0 0 0 !important;
    }
    .tile p {
      font-size: 0.85em !important;
      line-height: 15px !important;
    }
    .btn-read {
      left: 18% !important;
      margin-top: 5px !important;
      padding: unset !important;
    }
    .btn, .btn i {
      font-size: 0.75em !important;
    }
    .btn {
      height: 30px !important;
      line-height: 30px !important;
    }
    #tabs_width {
      width: 100% !important;
    }
    .tabs .tab a {
      font-size: 0.9em !important;
    }
    .fa-2x {
      font-size: 1.75em !important;
    }
    table {
      font-size: 0.9em !important;
    }
    .order_number_color, .order_number_gray {
      width: 14px !important;
      height: 16px !important;
      line-height: 15px !important;
      font-size: 0.9em !important;
    }
    .rank_name {
      font-size: 0.9em !important;
      padding-right: 5px !important;
    }
  }
  @media only screen and (min-width: 360px) {
    .text_new {
      margin-left: 125px !important;
    }
    .text_upnew {
      margin-left: 110px !important;
    }
  }
  @media only screen and (min-width: 390px) {
    .text_new {
      margin-left: 145px !important;
    }
    .text_upnew {
      margin-left: 120px !important;
    }
    .tile {
      width: 200px !important;
      height: 250px !important;
    }
    .tile .text {
      padding: 20px !important;
    }
    .tile h4, .tabs .tab a, .rank_name, table, .page-footer {
      font-size: 1em !important;
    }
    .tile h5 {
      font-size: 0.85em !important
    }
    .tile p {
      font-size: 0.95em !important;
      line-height: 18px !important;
    }
    .btn-read {
      left: 20% !important;
    }
    .btn, .btn i {
      height: 33px !important;
      line-height: 33px !important;
      font-size: 0.95em !important;
    }
  }
  @media only screen and (min-width: 420px) {
    .text_new {
      margin-left: 155px !important;
    }
    .btn-read {
      left: 20% !important;
    }
    .tile p {
      font-size: 1em !important;
      line-height: 19px !important;
    }
    .tile h4 {
      font-size: 1.15em !important;
    }
    .tile h5 {
      font-size: 0.9em !important
    }
    .tile {
      width: 215px !important;
    }
    .tile .text {
      padding: 20px !important
    }
    .text_upnew {
      margin-left: 130px !important;
    }
  }
  @media only screen and (min-width: 480px) {
    #name {
      display: none !important;
    }
    #translator {
      display: none !important;
    }
    #novel-release {
      width: 100% !important;
      padding-top: unset !important;
    }
  }
  @media only screen and (min-width: 640px) {
    #slide {
      display: block !important;
    }
    #novel-release {
      width: 100% !important;
      padding-top: 400px !important;
    }
    #novel_updates {
      width: 100% !important;
    }
    #name {
      display: inline-table !important;
    }
    #translator {
      display: table-cell !important;
    }
  }
  @media only screen and (min-width: 768px) {}
  @media only screen and (min-width: 993px) {
    #novel-release {
      width: 98% !important;
      padding-top: 400px !important;
    }
    #novel_updates {
      width: 98% !important;
    }
    #name {
      display: inline-table !important;
    }
    #translator {
      display: table-cell !important;
    }
  }
  @media only screen and (min-width: 1200px) {
    #slide {
      display: block !important;
    }
    #novel-release {
      width: 90% !important;
      padding-top: 400px !important;
    }
    #novel_updates {
      width: 90% !important;
    }
    #name {
      display: inline-table !important;
    }
    #translator {
      display: table-cell !important;
    }
    .tile {
      width: 260px !important;
      height: 350px !important;
      margin: 10px !important;
      left: unset !important;
      text-align: unset !important;
    }
    table {
      font-size: 1em !important;
    }
    .novel_type {
      display: block !important;
    }
    .text_new {
      margin-right: 15px !important;
      margin-left: unset !important;
    }
    .text_upnew {
      margin-right: 15px !important;
      margin-left: unset !important;
    }
    #tabs_width {
      width: 25% !important;
    }
    .tabs .tab a {
      font-size: 1em !important;
    }
    .tile h4 {
      font-size: 1.2em !important;
    }
    .tile h5 {
      font-size: 1em !important;
      margin: 20px 0 0 0 !important;
    }
    .tile p {
      font-size: 1em !important;
      line-height: 20px !important;
    }
    .btn-read {
      left: 24% !important;
      margin-top: 15px !important;
      padding: unset !important;
    }
    .btn, .btn i {
      font-size: 1em !important;
    }
    .btn {
      height: 36px !important;
      line-height: 36px !important;
    }
    .wrap {
      width: auto !important;
    }
    .img_new {
      padding-top: unset !important;
    }
  }
  @media only screen and (min-width: 1360px) {
    #slide {
      display: block !important;
    }
    #novel-release {
      width: 90% !important;
      padding-top: 400px !important;
    }
    #novel_updates {
      width: 90% !important;
    }
    #name {
      display: inline-table !important;
    }
    #translator {
      display: table-cell !important;
    }
    .tile {
      width: 260px !important;
      height: 350px !important;
      margin: 10px !important;
      left: unset !important;
      text-align: unset !important;
    }
    table {
      font-size: 1em !important;
    }
    .novel_type {
      display: block !important;
    }
    .text_new {
      margin-right: 15px !important;
      margin-left: unset !important;
    }
    .text_upnew {
      margin-right: 15px !important;
      margin-left: unset !important;
    }
    #tabs_width {
      width: 25% !important;
    }
    .tabs .tab a {
      font-size: 1em !important;
    }
    .tile h4 {
      font-size: 1.2em !important;
    }
    .tile h5 {
      font-size: 1em !important;
      margin: 20px 0 0 0 !important;
    }
    .tile p {
      font-size: 1em !important;
      line-height: 20px !important;
    }
    .btn-read {
      left: 24% !important;
      margin-top: 15px !important;
      padding: unset !important;
    }
    .btn, .btn i {
      font-size: 1em !important;
    }
    .btn {
      height: 36px !important;
      line-height: 36px !important;
    }
    .wrap {
      width: auto !important;
    }
    .img_new {
      padding-top: unset !important;
    }
  }
  @media only screen and (min-width: 1440px) {}
  @media only screen and (min-width: 2560px) {
    #novel-release {
      700px !important;
    }
    .btn {
      font-size: 1.8em !important;
      letter-spacing: 0.5px !important;
    }
    .btn i {
      font-size: 2rem !important;
    }
    .ribbon a {
      font-size: 2.8em !important;
    }
    .novel-release {
      padding-top: 700px !important;
    }
    .text_new {
      margin-right: unset !important;
    }
    .text_upnew {
      margin-right: unset !important;
      margin-left: unset !important;
    }
    .text_new h5 {
      font-size: 4rem;
      font-weight: 900 !important;
    }
    .novel_new {
      margin-top: 2vh !important;
    }
    .tile {
      width: 15vw !important;
      height: 50vh !important;
      margin: 20px !important;
    }
    .tile h4 {
      font-size: 2em !important;
      font-weight: 300 !important;
    }
    .tile h5 {
      font-size: 1.5em !important;
      font-weight: 600 !important;
      margin: 20px 0 0 0 !important;
    }
    .tile p {
      font-weight: 300 !important;
      margin-bottom: 5px !important;
      line-height: 35px !important;
      font-size: 1.5em !important;
    }
    .btn-read {
      padding: 25px 0px 0px 75px !important;
    }
    .tabs .tab a {
      font-size: 2em !important;
    }
    .order_number_color, .order_number_gray {
      width: 30px !important;
      height: 35px !important;
      line-height: 30px !important;
      margin: 2px 20px 0 0 !important;
      font-size: 1.6em !important;
    }
    .rank_name {
      font-size: 1.8em !important;
    }
    .text_new h5 {
      font-size: 4rem;
      font-weight: 900 !important;
    }
    table {
      font-size: 2em !important;
    }
  }
  #new-release {
    padding-top: 400px;
  }
  .btn-read {
    position: absolute;
    padding: 25px 0px 0px 45px;
  }
  .rank_list ul {
    list-style: none;
  }
  .rank_list li {
    width: auto;
    margin-bottom: 8px;
    overflow: hidden;
    zoom: 1;
  }
  .order_number_color {
    color: #fff;
    background-color: #ff9a6a;
    border: 1px solid #393939'

  }
  .order_number_gray {
    color: #9a9a9a;
    background-color: #353334;
    border: 1px solid #454545;
  }
  .order_number_color, .order_number_gray {
    float: left;
    width: 18px;
    height: 20px;
    line-height: 18px;
    margin: 2px 10px 0 0;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
  }
  .rank_name {
    float: left;
    color: #606060;
    overflow: hidden;
  }
  .rank_hit_first, .rank_hit_second, .rank_hit_third, .rank_hit {
    float: right;
    width: 10px;
    height: 12px;
    margin-top: 6px;
    background-repeat: no-repeat;
  }
  .text_new {
    float: left;
    margin-right: 15px;
  }
  .text_upnew float:left;
  margin-right:15px
}

.img_new {
  padding-top: 5px;
}

.novel_new {
  float: left;
}

table a {
  color: #1979bf !important;
}

table a:hover {
  color: #41afff !important;
}

table a:visited {
  color: #003861 !important;
}

/* Menu Page */

#content-table {
  padding-top: 30px;
}

#button-table {
  padding: 15px 15px 0px 15px;
}

#volume-name {
  font-size: 1.5rem;
  padding: 15px 0px 15px 15px;
  font-weight: bold;
  display: block;
}

#chapter-table {
  padding: 0px 15px 0px 15px;
  display: block;
}

.chapter-list {
  padding-top: 8px;
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-shadow {
  display: block;
  height: 40px;
  font-size: 1.1rem;
  border-top-color: rgba(255, 255, 255, .12);
  box-shadow: 0px 0px 1px 0px #000;
  padding-top: 10px;
}

.table-text {
  font-size: 1.6rem;
  font-weight: bold;
  height: 25px;
}

@media only screen and (max-width: 600px) {
  #button-table {
    text-align: center;
  }
  #volume-name {
    text-align: center;
  }
}

.chapter-list a {
  color: #1979bf !important;
}

.chapter-list a:hover {
  color: #41afff !important;
}

.chapter-list a:visited {
  color: #003861 !important;
}

/*Article Tiles
/A Pen by Max Kurapov on CodePen.
*/

.wrap {
  margin: 50px auto 0 auto;
  width: 100%;
  align-items: space-around;
}

.tile {
  width: 260px;
  height: 350px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: white;
}

.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}

.tile .text {
  /* z-index:99; */
  position: absolute;
  padding: 20px;
  height: calc(100% - 60px);
}

.tile h4 {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h5 {
  font-size: 1rem;
  font-weight: 600;
  margin: 20px 0 0 0;
  font-style: italic;
  transform: translateX(200px);
}

.tile p {
  font-weight: 300;
  margin-bottom: 5px;
  line-height: 20px;
  /* opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.animate-text {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.tile:hover {
  /* background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}

.tile:hover img {
  opacity: 0.2;
}

.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}

.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}

@media (max-width: 1000px) {
  .wrap {
    flex-direction: column;
    width: 400px;
  }
}
