/* Css for TH-SHARING.COM
/* Created by SubMaRK 2018-03-22
/* Last updated 2018-03-22
*/

#nv_pd {
  padding-left: 13%;
}

nav .brand-logo {
  margin-left: 30px;
  margin-top: -5px;
}

nav a, nav ul a {
  color: #000 !important;
}

.dropdown-content {
  min-width: 150px !important;
  top: unset !important;
}

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 360px) {}

@media only screen and (min-width: 390px) {}

@media only screen and (min-width: 420px) {}

@media only all and (min-width: 768px) {}

@media only screen and (min-width: 993px) {}

@media only screen and (min-width: 1200px) {}

.text_logo {
  font-weight: 700 !important;
  font-size: 1.4rem;
}

#login_menu {
  display: none;
  margin-right: 20px;
}

#logout_menu {
  display: none;
  margin-right: 20px;
}

#user_icon {
  border-radius: 50px;
  width: 30px;
  margin-top: 10px;
}

p.agreement {
  line-height: normal !important;
}

.indent {
  text-indent: 30px;
}

.text_bold {
  font-weight: 700;
}

.modal {
  overflow-y: unset !important;
}

.modal .modal-footer {
  padding: 0px 10px !important;
  height: unset !important;
}
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {height: 50px!important;
    line-height: 50px!important;}
