/* Css for TH-SHARING.COM
/* Created by SubMaRK 2018-03-22
/* Last updated 2018-03-22
*/

@media only screen and (min-width: 480px){
  #global_width {width: 100%!important;}
}
@media only screen and (min-width: 768px){
  #global_width {width: 95%!important;}
}
@media only screen and (min-width: 1366px){
  #global_width {width: 90%!important;}
  .black-ribbon {width: auto;}
}
@media only screen and (min-width: 1920px){
  #global_width {width: 80%!important;}
}
@media (min-width: 320px) and (max-width: 480px){
}
@media (min-width: 481px) and (max-width: 768px){
}
@media (min-width: 769px) and (max-width: 993px){
}
@media (min-width: 994px) and (max-width: 1280px){
}
@media (min-width: 1281px) and (max-width: 1366px){
}
@media (min-width: 1367px) and (max-width: 1440px){
}
@media (min-width: 1441px) and (max-width: 1600px){
}
@media (min-width: 1601px) and (max-width: 1920px){
}
@media (min-width: 1921px) and (max-width: 2560px){
}
@media (min-width: 2561px) and (max-width: 3840px){
}
@media only screen and (min-width: 3840px){
}
