body {
  background-color: #f5e1ba!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.modal,.page-footer,.chapter_info,.read,.control {
  background-color: #fff2d9!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.nav {
  background-color: #f5e1ba!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.btn {
  background-color:#fff2d9!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.modal-content,.selectFont a, .fontSize a, .readMode a, .control a,#nav_read a i {
  color: #000!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
.selectFont h5,.fontSize h5,.readMode h5 {
  background-color: #f5e1ba!important;
  -webkit-transition: .1s ease-out;
  transition: .1s ease-out;
}
