.user_nolog {
  text-align: center;
  padding-top: 5px;
}
#no_mgb {margin-bottom:unset!important;}
.zoom-center {
  font-size: 4rem;
}
#reg_page {
  padding-top: 5px;
}
#reg_width {
  width: 100% !important;
}
.reg_text {
  font-size: 1.4rem;
  text-align: center;
  margin: unset;
  padding-bottom: 10px;
}
#reg_form {
  padding-left: 40px;
  padding-right: 40px;
}